
 <!-- header of page -->
<div class="row">
  <div class="col-6">
    <h3>Quiz Application</h3>
  </div>
</div>
<!-- end of header of page -->

<!-- quiz selector page -->
<div id="quizSelector" *ngIf="mode=='quizSelector'">
  <hr/>
  <div class="col-12 text-center">Welcome to this quiz application. Please select your quiz to start with the test.</div>
  <hr/>
  <div class="col-12 text-center">
    Select Quiz:
    <select onfocus="this.value=''" [(ngModel)]="quizName" (change)="buttonDisabled=false" >
      <option *ngFor="let quiz of quizes" [value]="quiz.id" >{{quiz.name}}</option>
    </select>
  </div>
  <div class="col-12 text-center"><button class="btn btn-default"  (click)="loadQuiz(quizName);" [disabled]="buttonDisabled">Start Quiz</button></div>
  <hr/>
</div>
<!-- quiz selector page end -->

<!-- quiz pages -->
  <div *ngIf="mode=='quiz' && quiz">
      <div id="quiz">
          <h2 class="text-center font-weight-normal">{{quiz.name}}</h2>
          <hr />
    <div *ngFor="let question of filteredQuestions;">
      <div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
      <div class="badge badge-info float-right">

        <button *ngIf="paused==false" class="btn btn-warning fa fa-pause" (click)="pauseResumeCall();"></button>
        <button *ngIf="paused==true" class="btn btn-success fa fa-play" (click)="pauseResumeCall();" ></button>

        Time: {{ellapsedTime}} / {{duration}}
      </div>
      <h3 *ngIf="paused==false" class="font-weight-normal">{{pager.index + 1}}.
        <span [innerHTML]="question.name"></span>
      </h3>
      <div *ngIf="paused==false" class="row text-left options">
        <div class="col-6" *ngFor="let option of question.options">
          <div class="option">
            <label class="font-weight-normal" [attr.for]="option.id">
              <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" /> {{option.name}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <hr *ngIf="paused==false" />
    <div *ngIf="paused==false" class="text-center">
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">First</button>
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Prev</button>
      <button class="btn btn-primary" (click)="goTo(pager.index + 1);">Next</button>
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last</button>
      <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
    </div>
  </div>
  <hr *ngIf="paused==false" />
</div>
<!-- end of quiz pages -->

<!-- review questions page -->
<div class="row text-center" *ngIf="mode=='review'">
    <div class="col-4 cursor-pointer" *ngFor="let question of quiz.questions; let index = index;">
      <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(question) == 'Answered'? 'bg-info': 'bg-warning' }}">{{index + 1}}. {{ isAnswered(question) }}</div>
    </div>
  </div>
<!-- end of review questions page -->

<!-- result page -->
<div class="result" *ngIf="mode=='result'">
    <h2>Quiz Result</h2>
      <div class="table-responsive-sm">
          <table class="table">
              <tr>
                  <th scope="col">Correct Answers</th>
                  <th scope="col">Wrong Answers</th>
                  <th scope="col">Correct Percentage</th>
                  <th scope="col">Pass Threshold = {{getPassThresHold()}} %</th>
                </tr>
                <tr>
                  <td style="text-align:center">{{getCorrectCount()}}</td>
                  <td style="text-align:center">{{getWrongCount()}}</td>
                  <td style="text-align:center" class="alert {{ setColor() == 'true' ? 'alert-success': 'alert-danger'}}" >{{getCorrectPercentage()}} %</td>
                  <td style="text-align:center">
                    <button class="btn-sm btn-default"  (click)="mode ='quiz';clearAll();">Restart Quiz</button>
                    <button class="btn-sm btn-default"  (click)="mode ='quizSelector';gotoSelector();">Select Quiz</button>
                  </td>
                </tr>
                <tr>
                  <th class="alert {{ setColor() == 'true' ? 'alert-success': 'alert-danger'}}" style="text-align:center; font-size: 200%" colspan="4">{{passedOrFailed()}}</th>
                </tr>
          </table>
        </div>
    <div *ngFor="let question of quiz.questions; let index = index">
      <div class="result-question">
        <h5>{{index + 1}}. {{question.name}}</h5>
        <div class="row">
          <div class="col-6" *ngFor="let Option of question.options">
            <div class="p-1 m-2 alert {{correctSelected(Option.isAnswer, Option.selected)}}">
            <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected"/> {{Option.name}}
            </div>
          </div>
        </div>
        <div class="p-1 m-2 alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}</div>
      </div>
    </div>
    <h4 class="alert alert-info text-center"> You may close this window now. </h4>
  </div>
<!-- end of result page -->

<!-- show buttons, except for quizSelector and result pages -->
<div class="col-12" align="center" *ngIf="mode!='quizSelector' && mode!= 'result' && paused==false">
  <button *ngIf="mode!='review'" class="btn btn-info" (click)="mode='review'">Review</button>
  <button *ngIf="mode=='review'" class="btn btn-default" (click)="mode='quiz'">Back to Quiz</button>
  <button class="btn btn-primary" (click)="onSubmit()">Submit Quiz</button>
  <button class="btn btn-default"  (click)="clearAll();">Restart Quiz</button>
  <button class="btn btn-default"  (click)="gotoSelector();">Select Quiz</button>
</div>

